[Unit]
Description=EBU LIST
After=docker.service st2110.service ptp.service
Requires=docker.service st2110.service ptp.service

[Service]
Type=simple
RemainAfterExit=yes
EnvironmentFile=/etc/st2110.conf
ExecStart=/bin/bash -c "ebu_list_ctl -f start"
ExecStop=/bin/bash  -c "ebu_list_ctl stop"
Restart=always
RestartSec=10
User=ebulist
Group=ebulist

[Install]
WantedBy=multi-user.target
